.image img {
    width: 100px;
    border-radius: 100px;
    border: 3px dotted cyan;
    display: block;
    margin: 10% auto;
}



.job-post{
    transition: all .3s;
}

.job-post:hover {
    transform: scale(1.1);
}