.color {
    color: rgb(99, 97, 97);
    font-weight: 500;
    transition: all .2s ease-out;
}
.color:hover {
    color: black;
    transform: translate(-3);
}

.logo {
    color: rgba(43, 42, 42, 0.993);
    font-weight: 700;
}

.user {
    background-color: lightblue;
    border-radius: 100px;
    padding: 5px;
    border: 1px dotted tomato;
    color: green;
}
.user:hover {
    color: black;
}

.logo img {
    width: 40px;
}